<body>
  <div class="navbox">
    <ul class="nav">
      <li style="margin-top: 10px">
        <a style="margin-left: -700px" href=""
          ><img src="../../../assets/chaptersPage/Asset 1 1.svg" alt=""
        /></a>
      </li>
      <li>
        <a href=""><img src="../../../assets/chaptersPage/Asset 6 3.svg" alt="" /></a>
      </li>
    </ul>
  </div>
  <div class="Delhipicdiv">
    <div style="opacity: 1.5; margin-top: 200px">
      <h1 class="Delhitext">Delhi Chapter</h1>
    </div>
  </div>
  <h1 class="schedule">Schedule</h1>
  <img
    style="margin-left: 965px; margin-top: 90px"
    src="../../../assets/chaptersPage/Schedule line.png"
    alt=""
  />
  <div class="bg">
    <img class="bgpic" src="../../../assets/chaptersPage/Group 14.svg" alt="" />
  </div>
  <h1 class="committee">Our Committee</h1>
  <div class="com1"></div>
  <div class="com2"></div>
  <div class="com3"></div>
  <div class="com4"></div>
  <div class="com5"></div>
</body>
