<header>
  <nav>
    <div>
      <ul>
        <li id="ecell">
          <a href="#"
            ><img
              src="../../../assets/homePage/logo-removebg-preview.png"
              alt="logo"
          /></a>
        </li>
        <li id="esummit">
          <a href="#"></a>
          <img src="../../../assets/homePage/esummit.svg" alt="mun logo" />
        </li>
        <li id="navitem">
          <a href="javascript:void(0);" class="icon" >
            <i class="fa fa-bars fa-3x" id="icon"></i>
          </a>
        </li>
      </ul>
    </div>
    <div id="myLinks">
      <a href="#">News</a>
      <a href="#">Contact</a>
      <a href="#">About</a>
    </div>
  </nav>
</header>
<div class="contentmax">
  <div class="content">
    <div class="image"></div>
    <div class="para">
      <div class="para1">
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nam, enim
          necessitatibus, aspernatur tempore eum laboriosam earum ratione porro,
          aliquam voluptas vel magnam repellat reprehenderit inventore totam
          quae aperiam nesciunt mollitia itaque? Magnam cupiditate et doloribus
          nulla ex amet recusandae laborum.
        </p>
      </div>
      <div class="para2">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente
          fugiat accusamus quod veniam! Quis ullam explicabo pariatur corporis
          totam minima.
        </p>
        <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatem
          dolores, veritatis aspernatur nostrum laudantium, explicabo maxime
          architecto quod sunt voluptas quisquam expedita molestiae minus harum
          natus rem tempore ab deleniti!
        </p>
      </div>
    </div>
    <div class="timeline">
      <div class="divi d1">
        <div>Lorem, ipsum.</div>
        <div>Lorem, ipsum.</div>
        <div>Lorem, ipsum.</div>
        <div>Lorem, ipsum.</div>
        <div>Lorem, ipsum.</div>
      </div>
      <div class="line">
        <img src="../../../assets/homePage/line.png" alt="line" />
      </div>
      <div class="divi d2">
        <div>Lorem, ipsum.</div>
        <div>Lorem, ipsum.</div>
        <div>Lorem, ipsum.</div>
        <div>Lorem, ipsum.</div>
        <div>Lorem, ipsum.</div>
      </div>
    </div>
  </div>
  <div class="chap">
    <h1>THE CHAPTERS</h1>
  </div>

  <div class="chapter">
    <div>
      <div>sdvdhnfhjdtyhnsrgf</div>
    </div>
    <div>
      <div>sdvdhnfhjdtyhnsrgf</div>
    </div>
    <div>
      <div>sdvdhnfhjdtyhnsrgf</div>
    </div>
    <div>
      <div>sdvdhnfhjdtyhnsrgf</div>
    </div>
  </div>
  <div class="chap chap2">
    <h1>FAQ'S</h1>
  </div>
  <div class="faq">
    <div>
      <div class="c3">
        <p>
          <span>Q </span>Lorem ipsum dolor sit amet consectetur adipisicing
          elit. Ipsum, nihil.
        </p>

        <i class="fa fa-duotone fa-caret-down fa-2x"></i>
      </div>
      <div class="c4">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Excepturi,
        suscipit! Quisquam quasi distinctio, quibusdam corporis sint illo, nam
        labore magni sequi, rerum id saepe necessitatibus assumenda dicta quis
        aliquam perspiciatis.
      </div>
    </div>
    <div>
      <div class="c3">
        <p>
          <span>Q </span>Lorem ipsum dolor sit amet consectetur adipisicing
          elit. Ipsum, nihil.
        </p>

        <i class="fa fa-duotone fa-caret-down fa-2x"></i>
      </div>
      <div class="c4">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Excepturi,
        suscipit! Quisquam quasi distinctio, quibusdam corporis sint illo, nam
        labore magni sequi, rerum id saepe necessitatibus assumenda dicta quis
        aliquam perspiciatis.
      </div>
    </div>
    <div>
      <div class="c3">
        <p>
          <span>Q </span>Lorem ipsum dolor sit amet consectetur adipisicing
          elit. Ipsum, nihil.
        </p>

        <i class="fa fa-duotone fa-caret-down fa-2x"></i>
      </div>
      <div class="c4">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Excepturi,
        suscipit! Quisquam quasi distinctio, quibusdam corporis sint illo, nam
        labore magni sequi, rerum id saepe necessitatibus assumenda dicta quis
        aliquam perspiciatis.
      </div>
    </div>
    <div>
      <div class="c3">
        <p>
          <span>Q </span>Lorem ipsum dolor sit amet consectetur adipisicing
          elit. Ipsum, nihil.
        </p>

        <i class="fa fa-duotone fa-caret-down fa-2x"></i>
      </div>
      <div class="c4">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Excepturi,
        suscipit! Quisquam quasi distinctio, quibusdam corporis sint illo, nam
        labore magni sequi, rerum id saepe necessitatibus assumenda dicta quis
        aliquam perspiciatis.
      </div>
    </div>
  </div>
</div>

<footer>
    <!-- to be fetched from previous website -->
</footer>
